header{
    margin-top: 15px;
}
.panel-control{
    display: flex;
    justify-content: space-between;
    max-width: 1992px;
    margin: auto;
}
.navlogo{
    display: flex;
    align-items: center;
}
.panel-control img{
    height: 45px;
}

.nav1{
    padding-left: 15px;
    gap: 15px;
    width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(211, 210, 210, 0.521);
}

.nav1 img{
    width: 20px;
    height: 20px;
}
.buscador{
    width: 340px;
    background-color: rgba(211, 210, 210, 0.521);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.buscador > div{
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buscador>div div{
    background-color: rgb(255, 153, 0);
    width: 27.5px;
    height: 27.5px;
    border-radius: 100%;
    display: flex;
    text-overflow: none;
    justify-content: center;
    align-items: center;
}
.buscador input{
    padding: 5px;
    width: 85%;
    height: 25px;
    border: none;
    outline: none;
    background-color:rgba(211, 210, 210, 0) ;
}
.panel-iconos{
    width: 330px;
    display: flex;
    align-items: center ;
}
.panel-iconos >div {
    width: 97px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 13 px;

}
.panel-iconos >div >span {
    color:  rgb(255, 153, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.Mi ,.Mis{    
    padding-left: 14px;
    font-size: 15px;
    color:#808080   ;
}
.Cuenta, .favoritos{
    padding-left: 14px;
    font-weight: 650;
    color: #808080;
}
.icon2 ,    .icon3{
    margin-left: 10px;
    align-items: center;
}
.Cart{
    display: flex;
    width: 60px;
    height: 50px;

}
.number_cart{
    background-color: black;
    width: 19px;
    height:19px;
    border-radius:35%;
    font-size: 70%;
    font-weight: 780;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 15px;  
    right: 95px;
    

}
.numero{
    color: white    ;
}



